<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>InventoryManagement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.r3sys.imt.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Log</display-name>
    <servlet-name>Log</servlet-name>
    <servlet-class>com.r3sys.imt.Log</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Log</servlet-name>
    <url-pattern>/Log</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addRaw</display-name>
    <servlet-name>addRaw</servlet-name>
    <servlet-class>com.r3sys.imt.addRaw</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addRaw</servlet-name>
    <url-pattern>/addRaw</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addpro</display-name>
    <servlet-name>addpro</servlet-name>
    <servlet-class>com.r3sys.imt.addpro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addpro</servlet-name>
    <url-pattern>/addpro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addPro</display-name>
    <servlet-name>addPro</servlet-name>
    <servlet-class>com.r3sys.imt.addPro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addPro</servlet-name>
    <url-pattern>/addPro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>proAdd</display-name>
    <servlet-name>proAdd</servlet-name>
    <servlet-class>com.r3sys.imt.proAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>proAdd</servlet-name>
    <url-pattern>/proAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>issueRaw</display-name>
    <servlet-name>issueRaw</servlet-name>
    <servlet-class>com.r3sys.imt.issueRaw</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>issueRaw</servlet-name>
    <url-pattern>/issueRaw</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>issueProcessed</display-name>
    <servlet-name>issueProcessed</servlet-name>
    <servlet-class>com.r3sys.imt.issueProcessed</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>issueProcessed</servlet-name>
    <url-pattern>/issueProcessed</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>rawUpdate</display-name>
    <servlet-name>rawUpdate</servlet-name>
    <servlet-class>com.r3sys.imt.rawUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>rawUpdate</servlet-name>
    <url-pattern>/rawUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>processedUpdate</display-name>
    <servlet-name>processedUpdate</servlet-name>
    <servlet-class>com.r3sys.imt.processedUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>processedUpdate</servlet-name>
    <url-pattern>/processedUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePass</display-name>
    <servlet-name>ChangePass</servlet-name>
    <servlet-class>com.r3sys.imt.ChangePass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePass</servlet-name>
    <url-pattern>/ChangePass</url-pattern>
  </servlet-mapping>
</web-app>